Package: com.joemerlino.wareply
Name: WAReply
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enables whatsapp stock quickreply and onetap audio recording.
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
